# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# macOS system files
.DS_Store

# SQLite databases
db.sqlite3
*.sqlite3

# Django static & media
staticfiles/
media/

# Environment variables (DO NOT upload)
.env
.env.*

# Frontend folder (optional - if you do NOT want backend + frontend in same repo)
# Community-healthcare/

Community-healthcare/
